.accordion {
	&__wrap {
		border-bottom: 1px solid $dark-02;

		&:hover {
			background: $gray;
		}

		.card-header {
			@include padding(30px, 0px, 25px, 0px);
			cursor: pointer;

			&:hover {
				color: $red;

				svg {
				fill: $red
				}
			}
		}

		.card-body {
			@include padding(15px, 0px, 40px, 0px);

			.links__wrap {
				display: block;
			}

			.links__wrap + .links__wrap {
				margin-top: 30px;
			}
		}

		&__active {
			background-color: $gray;

			.accordion__arrow svg{
				transform: rotate(-90deg);
			}
		}

		.links {
			color: $dark;
			text-transform: uppercase;
			text-decoration: underline;

			&:hover {
				color: $red;
			}
		}
	}

	&__arrow {
		text-align: right;
		svg {
			transform: rotate(90deg);
			width: 14px;
			fill: $dark;
			transition-duration: 0.3s;
			transition-timing-function: ease-out;
		}
	}
}
