.cross-fade-exit {
  opacity: 1;
}
.cross-fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
