.cta_outline {
  font-family: $font-acari-bold;
  @include font-size(14px);
  @include line-height(26px);
  /* identical to box height, or 114% */
  transition: 0.3s;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  &__dark {
    color: $dark;
    fill: $dark;

    &::before {
      background: $dark;
    }
  }

  &__light {
    color: $white;
    fill:  $white;

    &::before {
      background: $white;
    }
  }

  &__dark,
  &__light {
    &:hover {
      color: $red;
      fill:  $red;

      &::before {
        background: $red;
      }
    }
  }

  &__left-line::before {

  }
}

button.cta_outline {
  background: none;
  border: none;
  padding: inherit;
  margin: inherit;
}
