.card {

  &__white-bordered {
    background: #FFFFFF;
    border: 1px solid rgba(39, 35, 35, 0.25);
    border-radius: 0;
  }

  &__media-horizontal {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;

    &__end {
      align-items: flex-end;
    }
  }

  &__icon-text {
    @include padding(20px, 65px, 24px, 23px);
    height: 100%;

    &__wrap {
      @include padding(30px, 0px, 0px, 0px);
      height: 100%;
    }


    &__icon__wrap {
      padding-top: 7px;
      width: 25px;
    }

    &__text__wrap {
      padding-left: 1rem;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }

    &__text {
      color: $dark;
    }
  }

  &__headmaster {

    &__main-info {
      display: flex;
      align-items: center;
    }

    &-body {
      &__title {
        color: $dark;
      }

      &__label {
        color: $dark-06;
      }
      &__email {
        font-family: $font-acari-bold;
        @include font-size(16px);
        @include line-height(22px);

        color: $dark-08;
      }

      &__wrap {
        @include padding(0px, 0px, 0px, 65px);

        .link-wrap {
          margin-top: 15px;
        }
      }
    }

    &__wrap {



      .card {
        @include padding(50px, 65px, 60px, 55px);

        &__media-horizontal {
          justify-content: space-between;
          align-items: flex-end;
        }

      }
    }

    &-avatar {
      &__wrap {
        @include width(125px);
        @include height(125px);
        border-radius: 50%;
      }
    }
  }
}
