.collection-items-arrow-navigation {
        position: absolute;
        top: calc(50% - 100px);
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;

    .right-arrow,
    .left-arrow {
        @include padding(20px, 20px, 20px, 20px);
        cursor: pointer;
        z-index: 2;

        &.show {
            path {
                fill: $white;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
                }
        }
    }   
}

.item-preview {
    @include padding(25px, 20px, 25px, 20px);
    position: absolute;
    top: calc(50% - 100px);
    transform: translate(0);
    opacity: 0;
    transition: opacity 0.5s ease-in;
    width: 260px;
    height: 210px;
    z-index: 1;
    background-color: $dark;
    color: $white;

    &.show   {
       opacity: 1;
    }

    &__nextItem {
        right: 0;
    }

    &__prevIndex {
        left: 0;
    }

    &__image {
        width: 110px;
    }
}