.header {
	z-index: 2;
	@include padding(4px, 0px, 4px, 0px);

	&-navigation {
		&__wrap {
			width: 100%;
			display: flex;
			flex-direction: column;
		}

		&__inner {
			display: flex;
			flex-direction: row;
			align-items: center;

			&__child {
				&:first-child {
					flex: 1;
				}

				&:last-child {
					align-items: center;
				}
				&:last-child,
				&.bg {
					flex: 1.245;
				}

				&.en {
					flex: 0.787;

					.display-flag {
						@include width(15px)
					}
				}
			}
		}

		&__nav {
			border-top: 1px solid rgba(255, 255, 255, 0.1);
		}
	}

	.navbar-nav {
		@include media-breakpoint-up(lg) {
			justify-content: space-between;
		}
	}

	.input-group {
		@include padding(0px, 0px, 3px, 0px);
		align-items: center;
	}

	.form-control,
	.form-control:active,
	.form-control:hover {
		background-color: rgba(0, 0, 0, 0);
		border: none;
		box-shadow: none;
		color: rgba(255, 255, 255, 0.85);
	}

	.nav__main-link.dropdown {
		.nav-link {
			display: flex;
			align-items: center;

			& > div {
				line-height: 0;
			}
		}
	}

	.navbar-nav .dropdown .nav {
		&__secondary-link {
			text-transform: uppercase;
			color: $dark;
		}
	}

	@include media-breakpoint-down(lg) {
		padding-top: 13px;
		padding-bottom: 10px;

	}
}
