.hero {
  @include padding(80px, 0px, 115px, 0px);

  &__wrap {
    position: relative;


    .display {
      @include padding(140px, 15px, 20px, 15px);
      position: relative;
      z-index: 1;
      color: $white;
      text-align: center;
    }

    .subtitle {
      @include padding(10px, 15px, 45px, 15px);
      color: $white;
    }
  }
}
