.support-us-page {
	.hero {
		@include padding(160px, 0px, 100px, 0px);
		min-height: 420px;

		&__wrap {
			height: auto;
			min-height: auto;
		}

		.title,
		[class^="paragraph"],
		[class^="links"] {
			color: $white;
		}

		[class^="paragraph"],
		.links + .links {
			@include margin(20px, 0px, 0px, 0px)
		}

		.links {
			display: inline-block;
			text-transform: uppercase;
			text-decoration: underline;
		}
	}
}
