AddDefaultCharset utf-8

RewriteEngine On

RewriteCond %{HTTP_HOST} ^www.museumsmolyan.eu [NC]
RewriteRule ^(.*)$ https://museumsmolyan.eu/$1 [L,R=301]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

Redirect 301 /contacts https://museumsmolyan.eu/contact-us

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /index.html [L]

Header set Cache-Control "max-age=3600, public"

<filesMatch ".(json)$">
Header set Cache-Control "max-age=1800, public"
</filesMatch>
